<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Digital Clock</title>
<LINK HREF="./style.css" REL="stylesheet" TYPE="text/css"> 
</head>

<body STYLE='background-color: #80d4ea;'>

  <table id='tableObj' width="50%" align="center"  style='font-family:courier, monospace;' >
  <tr>
  <td id='alarm'  width="75%">
  </td>
  <td  id='am_pm' align="right">
  </td>
  </tr>

  <tr>
  <td  COLSPAN='2' align="center">
  <NOBR> 
  <span id='time' style="font-size: 400.667px;"></span>
  <span id='sec'></span>
  </NOBR>  
  </td>
  </tr>

  <tr>
  <td  id='date'>
  </td>
  <td id='day_of_week' align="right">
  </td>
  </tr>
  </table>

  <div id='homePage' class="settings" >
    <br>
    <a id='options' href="options.html" > Alarm Setting</a> 
  </div>
    
  <script language="JavaScript" src="common.js"></script>  
  <script language="JavaScript" src="clock.js"></script>
  <script language="CSS" src = "style.css"></script>     
</body>

</html>
