<!doctype html>
<html>
<head>
  <title>Digital Clock Options</title>
</head>
<body STYLE='background-color: #80d4ea;' align="center" >
  <h1 style="color:white;"  >Options for Digital Clock </h1>
  <TABLE align="center">
  <TR>
  <TD>  
  <label>
    <input id="am_pm" type="checkbox">AM/PM
  </label>
  </TD>
  <TD></TD>
  </TR>  
  
  <TR>
  <TD >    
  Font color:
  </TD>
  <TD> 
  <input id="font_color" type="color">
  </TD>
  </TR>    
  <TR>
  <TD>    
  <label>
    <input id="alarm_on" type="checkbox">Alarm
  </label>
  </TD>
  <TD>
  </TD>
  </TR>
      
  <TR>
  <TD>
    Time:
  </TD>
  <TD>
    <input type="time" id="alarm_time">
  </TD>
  </TR>
  

  <TR>
  <TD size="30px">
    Description:
  </TD>
  <TD>
    <input id="alarm_desc" type="text" maxlength="255" size="25">
  </TD>
  </TR>

  </TABLE>
  </P>
  
  <button id="OK" > Save </button>
  <script src='common.js'></script>
  <script src='options.js'></script>
  <link rel="stylesheet" href="options.css">
</body>
</html>